{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/vis.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-toggleable-md" style="padding-down: 10px">
        <a class="navbar-brand logo" href="#"><img src="https://cdn2.iconfinder.com/data/icons/seo-flat-6/128/08_Web_Development-128.png" width="40" height="40"
                class="d-inline-block align-top" alt="">PTM</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Odjavi se</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="import" data-toggle="modal" data-target="#import-topology">Import</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#export-topology">Export</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="delete-topology">Delete topology</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calculate <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#exampleModal">Dijkstra</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#abrahamModal">Node pair</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <main class="main-container">
        <section class="network-container">
            <div class="network-topology" id="network">

            </div>
            <div id="node-popUp">
                <span id="node-operation">node</span> <br>
                <table style="margin:auto;">
                    <tr>
                        <td>Node id</td>
                        <td><input id="node-id" value="" /></td>
                    </tr>
                    <tr>
                        <td>Node label</td>
                        <td><input id="node-label" value="none" /></td>
                    </tr>
                    <tr>
                        <td>Node failure rate</td>
                        <td><input id="node-failureRate" value="" /></td>
                    </tr>
                    <tr>
                        <td>Node repair rate</td>
                        <td><input id="node-repairRate" value="" /></td>
                    </tr>
                </table>
                <input type="button" value="save" id="node-saveButton" />
                <input type="button" value="cancel" id="node-cancelButton" />
            </div>

            <div id="edge-popUp">
                <span id="edge-operation">edge</span> <br>
                <table style="margin:auto;">
                    <tr>
                        <td>Label</td>
                        <td><input id="edge-label" value="" /></td>
                    </tr>
                    <tr>
                        <td>Id</td>
                        <td><input id="edge-id" value="" /></td>
                    </tr>
                    <tr>
                        <td>Length</td>
                        <td><input id="edge-length" value="" /></td>
                    </tr>
                    <tr>
                        <td>Failure Rate</td>
                        <td><input id="edge-failureRate" value="" /></td>
                    </tr>
                    <tr>
                        <td>Repair Rate</td>
                        <td><input id="edge-repairRate" value="" /></td>
                    </tr>
                </table>
                <input type="button" value="save" id="edge-saveButton" />
                <input type="button" value="cancel" id="edge-cancelButton" />
            </div>

        </section>
        <aside class="right-aside-container">
            <div class="element-info-container" id="event-catcher">

            </div>
            <div class="calculation-container">
                <h2>TO BE DONE </h2>
            </div>
        </aside>
    </main>
    <!-- Export topology modal -->
    <div class="modal fade" id="export-topology" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Export topology</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to export current topology?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success export">Export</button>
                </div>
            </div>>
        </div>
    </div>
        <!-- Import topology modal -->
    <div class="modal fade" id="import-topology" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Import topology</h4>
                </div>
                <div class="modal-body">

                    <input type="file" id="file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success import">Import</button>
                </div>
            </div>>
        </div>
    </div>
    <!-- dijkstra modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Dijkstra algorithm calculation</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="username" class="control-label">Username:</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password:</label>
                            <input type="text" class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <label for="start-node" class="control-label">Start node:</label>
                            <select type="text" class="form-control" id="start-node"></select>
                        </div>
                        <div class="form-group">
                            <label for="end-node" class="control-label">End node:</label>
                            <select type="text" class="form-control" id="end-node"></select>
                        </div>
                        <div class="form-group">
                            <label for="time" class="control-label">Time(seconds):</label>
                            <input type="text" class="form-control" id="time">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default end" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary calculate">Calculate</button>
                </div>
            </div>
        </div>
    </div>
        <!-- abraham modal -->
    <div class="modal fade" id="abrahamModal" tabindex="-1" role="dialog" aria-labelledby="abrahamModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="abrahamModalLabel">Abraham algorithm calculation</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="username" class="control-label">Username:</label>
                            <input type="text" class="form-control" id="username-abraham">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password:</label>
                            <input type="text" class="form-control" id="password-abraham">
                        </div>
                        <div class="form-group">
                            <label for="start-node" class="control-label">Start node:</label>
                            <select type="text" class="form-control" id="start-node-abraham"></select>
                        </div>
                        <div class="form-group">
                            <label for="end-node" class="control-label">End node:</label>
                            <select type="text" class="form-control" id="end-node-abraham"></select>
                        </div>
                        <div class="form-group">
                            <label for="time" class="control-label">Time(seconds):</label>
                            <input type="text" class="form-control" id="time-abraham">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default end" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary calculate-abraham">Calculate</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filereader.js' %}"></script>
<script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>


<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</html>