  body {
    margin: 0px;
  }

  @media (min-width: 768px) {
    .header-container {
      position: relative;
      width: 100%;
      padding: 50px 0px 0px 0px;
      background-color: orangered;
      font-weight: bold;
    }
    .nav-container {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 999;
      background-color: green;
      font-size: 16px;
    }
    .logo-container {
      float: left;
      padding: 5px 5px;
      background-color: blue;
      margin-left: 50px;
    }
    .logo {
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      height: 40px;
      width: 80px;
      display: block;
      color: white;
    }
    .link-container {
      float: right;
      text-transform: uppercase;
      padding: 5px 5px;
      background-color: blue;
      margin-right: 50px;
    }
    .menu {
      padding: 0px;
      margin: 0px;
      display: table;
      line-height: 40px;
      text-align: center;
    }
    .login-logout-container {
      float: right;
      list-style: none;
      text-align: center;
      ;
    }
    .login-logout {
      text-decoration: none;
      color: white;
    }
    .main-container {
      position: relative;
      width: 100%;
      height: calc( 100vh - 50px);
      overflow: hidden;
      background-color: orangered;
    }
    .left-aside-container {
      position: relative;
      height: 95%;
      width: 15%;
      min-width: 100px;
      background-color: black;
      float: left;
    }
    .network-container {
      height: 95%;
      width: 85%;
      min-width: 150px;
      background-color: white;
      float: left;
      background-image: linear-gradient(lightslategray 2px, transparent 2px), linear-gradient(90deg, lightslategray 2px, transparent 2px), linear-gradient(rgba(36, 36, 36, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(36, 36, 36, .1) 1px, transparent 1px);
      background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
      background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
    }
    #network {
      height: 100%;
      width: 100%;
    }
    .right-aside-container {
      height: 95%;
      width: 15%;
      min-width: 100px;
      background-color: black;
      float: right;
    }
    .network-manipulation-container,
    .element-info-container {
      position: relative;
      height: 50%;
      width: 100%;
      background-color: lightcyan;
    }
    .topology-history-container,
    .calculation-container {
      height: 50%;
      width: 100%;
      background-color: lightslategray;
    }
  }

  @media (max-width: 768px) {
    .header-container {
      position: relative;
      width: 100%;
      padding: 50px 0px 0px 0px;
      background-color: orangered;
      font-weight: bold;
    }
    .nav-container {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 999;
      background-color: green;
      font-size: 16px;
    }
    .logo-container {
      float: left;
      padding: 5px 5px;
      background-color: blue;
    }
    .logo {
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      height: 40px;
      width: 80px;
      display: block;
      color: white;
    }
    .link-container {
      float: right;
      text-transform: uppercase;
      padding: 5px 5px;
      background-color: blue;
    }
    .menu {
      padding: 0px;
      margin: 0px;
      display: table;
      line-height: 40px;
      text-align: center;
    }
    .login-logout-container {
      float: left;
      list-style: none;
      text-align: center;
    }
    .login-logout {
      text-decoration: none;
      color: white;
    }
  }

  div.vis-network div.vis-manipulation {
    width: 200px;
    height: auto;
    background: transparent;
    color: white;
    top: 400px;
    left: 20px;
    text-align: center;
    overflow: hidden;
    padding-top: 0px;
    border: none;
  }

  div.vis-network div.vis-edit-mode div.vis-button,
  div.vis-network div.vis-manipulation div.vis-button {
    height: 60px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    border-radius: 0px;
    display: block;
    background-color: #545051;
    margin-bottom: 5px;
  }

  div.vis-network div.vis-manipulation div.vis-button.vis-add {
    background-image: none;
    box-sizing: content-box;
    display: block;
    padding: 10px 57px 10px 57px
  }

  div.vis-network div.vis-manipulation div.vis-button.vis-add:hover,
  div.vis-network div.vis-manipulation div.vis-button.vis-connect:hover,
  div.vis-network div.vis-manipulation div.vis-button.vis-edit:hover,
  div.vis-network div.vis-manipulation div.vis-button.vis-delete:hover,
  div.vis-network div.vis-manipulation div.vis-button.vis-back:hover {
    background-color: #f5c424;
  }

  div.vis-network div.vis-manipulation div.vis-button.vis-connect {
    background-image: none;
    box-sizing: content-box;
    display: block;
    padding: 10px 57px 10px 58px;
  }

  div.vis-network div.vis-manipulation div.vis-button.vis-edit {
    background-image: none;
    box-sizing: content-box;
    display: block;
    padding: 10px 57px 10px 56px;
  }

  div.vis-network div.vis-manipulation div.vis-button.vis-delete {
    background-image: none;
    box-sizing: content-box;
    display: block;
    padding: 10px 31px 10px 31px;
  }

  .vis-label {
    width: 100%;
    text-align: center;
  }

  .vis-button {
    background-image: none;
    box-sizing: content-box;
    display: block;
  }

  div.vis-network div.vis-edit-mode div.vis-label,
  div.vis-network div.vis-manipulation div.vis-label {
    margin: 0;
    line-height: 60px;
    font-size: 18px;
    border-radius: 0px;
    display: block;
  }

  div.vis-network div.vis-manipulation div.vis-separator-line {
    height: 80px;
    display: block;
    margin: 0px;
    visibility: hidden;
    position: absolute;
  }

  div.vis-network div.vis-manipulation div.vis-button.vis-none {
    padding: 10px;
    display: block;
    visibility: hidden;
  }

  div.vis-network div.vis-manipulation div.vis-button.vis-back {
    width: 200px;
    display: block;
  }